<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:600" rel="stylesheet" type="text/css">
    <link href="/css/early-access.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <title><%= template.productName %>- Early Access</title>
</head>
<body class="h-full w-full">
<div id="app" class="flex flex-col w-full h-full">
    <nav class="container w-full flex justify-between items-center">
        <div class="py-2">
            <a href="/home" class="block mt-1 no-underline">
                    <span class="text-5xl font-logo uppercase font-black tracking-tight block text-indigo-dark">
                        <% if (template.logo.type === 'img'){ %>
                            <img src="<%= template.logo.source %>" class="block mt-10 w-32">
                        <% }else { %>
                            <span style="color: <%= template.logo.color || "#ea2845" %>"><%= template.logo.source %></span>
                        <% } %>

                    </span>
            </a>
        </div>

        <% if(template.loginUrl){ %>
            <a class="block no-underline" href="" title="@lang('early-access::common.login')">
                    <span class="text-sm text-indigo-dark hover:text-indigo-darkest uppercase font-medium">
                      login
                    </span>
            </a>
        <% } %>
    </nav>
    <main class="mt-20 md:mt-32 flex-1">
        <div class="container flex flex-col md:flex-row items-center justify-between">
            <div class="md:pr-5 lg:pr-10 md:w-2/5">
                <div class="text-center md:text-left">
                    <h1 class="text-3xl lg:text-5xl text-indigo-darker font-logo font-medium uppercase leading-normal"
                        style="color: <%= template.welcomeMessage.color %>">
                        <%= template.welcomeMessage.text %>
                    </h1>
                    <h4 class="text-base font-light leading-normal grey-soft">
                        <%= template.welcomeMessage.sub %>
                    </h4>
                </div>
                <div class="mt-5">

                    <div class="mb-2 p-3 rounded-lg bg-green-lightest text-sm text-green-dark font-medium"
                         id="success-msg">
                        We will surely keep in touch
                    </div>


                    <div class="mb-2 p-3 rounded-lg bg-red-lightest text-sm text-grey-darker font-medium"
                         id="error-msg">
                        Please confirm email
                    </div>

                    <form action="#" method="post">
                        <div class="flex flex-col lg:flex-row font-light">
                            <input required
                                   type="email"
                                   name="email"
                                   placeholder="Email Address"
                                   class="p-4 w-full lg:w-3/5 rounded-lg lg:rounded-r-none bg-grey-lighter focus:bg-grey-light focus:outline-none"
                            />
                            <button type="submit"
                                    class="mt-2 lg:mt-0 p-4 lg:px-0 w-full lg:w-2/5 rounded-lg lg:rounded-l-none bg-indigo-dark shadow-lg
                                       lg:shadow-none text-sm text-white uppercase focus:outline-none"
                                    style="background-color: <%= template.button.color %>"
                            >
                                <%= template.button.text %><sup>†</sup>
                            </button>
                        </div>
                    </form>

                    <div class="mt-10">
                    <span class="text-xs text-grey font-light tracking-wide">
                        <sup>†</sup>No spam mail. We promise.
                    </span>
                    </div>
                </div>
            </div>
            <div class="mt-16 md:mt-0 md:pl-5 lg:pl-10 md:w-3/5 text-center md:text-left">
                <img src="<%= template.placeHolderImage %>" clasxxs="block"/>
            </div>
        </div>
    </main>
    <footer class="mt-20 md:mt-32 container py-5">
            <span class="block text-sm text-center">
                2020 Acme. All rights reserved
            </span>
    </footer>
</div>
</body>
</html>